body {
    margin: 0 auto !important;
    min-height: 100vh;
    display: grid !important;
    background-color: #f8f7f7;
    grid-template-columns: 100%;
    grid-template-rows: 110px 
                        1fr
                        60px;
    grid-template-areas:"my-header my-header my-header"
                        "my-section my-section my-section"
                        "my-footer my-footer my-footer";
}

header {
    grid-area: my-header;
    grid-column: 1/2;
    z-index: 10;
}

section {
    grid-area: my-section;
    grid-column: 1/2;
    margin: 0 auto;
    max-width: 1400px;
    text-align: center;
    display: flex;  
    align-items: center;
}

section div div.alerta{
    width: 100%;
    color: #ffffff;
    margin: 20px auto;    
}
.msg_error{
    background-color: #e65656;
    border-radius: 15px;
}
.msg_save{
    background-color: #6ece5b;
    border-radius: 15px;
}
.alerta p{
    padding: 10px;
}

section div#formulario_usuario {
    min-width: 700px;
    padding: 10px;
}

section div#formulario_usuario form {
    padding: 30px;
    border: 1px solid #0505053b;
    background-color: #fffefe;
    border-radius: 10px;
}

section div#formulario_usuario form label {
    font-size: 18px;
    float: left;
    font-weight: 600;
    color: #000000;
}

section div#formulario_usuario form input, section div#formulario_usuario form select {
    border: none;
    border-bottom: 1px solid #0a2d79bb;
    border-radius: 0px;
}

section div#formulario_usuario form input[type=submit] {
    border-radius: 5px;
}

section div#formulario_usuario form input[type=submit]:hover {
    cursor:pointer;
}

footer {
    grid-area: my-footer;
}