

body {
    margin: 0 auto !important;
    min-height: 100vh;
    display: grid !important;
    grid-template-columns: 100%;
    grid-template-rows: 100px 
                        1fr
                        60px;
    grid-template-areas:"my-header my-header my-header"
                        "my-section my-section my-section"
                        "my-footer my-footer my-footer";
}

header {
    grid-area: my-header;
    grid-column: 1/2;
    z-index: 10;
}

section {
    grid-area: my-section;
    grid-column: 1/2;
    display: flex !important;
    align-items: center;
    margin: 0 auto;
}
section div#contenedor {
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 5px rgb(3, 21, 43);
    -moz-box-shadow: 5px 5px 5px rgb(2, 28, 49);
    background: #446699;
    display: flex !important;
    align-items: center;
    color: #ffffff;
    border: 1px solid #ffffff;
    height: 300px;
    width: 800px;
}
section div#contenedor .bienvenida {
    margin: 0 auto;
    font-size: 25px;
}
section div#contenedor .tickets {
    text-align: center;
    font-size: 18px;
}
footer {
    grid-area: my-footer;
}