
section {
    grid-area: my-section;
    grid-column: 1/2;
    margin: 0 auto;
    display: flex !important;
    align-items: center;
}
body div#contenedor {
    border-radius: 20px;
    display: flex !important;
    align-items: center;
    text-align: center;
    color: #000000;
    border: 1px solid #0541af;
    margin: 0 auto;
    position: relative;
    top: 10px;
    width: 800px;
    padding: 10px;
}
body div#contenedor .bienvenida, body div#contenedor .bienvenida p {
    margin: 0 auto;
    margin-top: 5px;
    font-size: 22px;
    font-family: 'revert';
    margin-bottom: 5px;
}

body div#contenedor .bienvenida p span {
    margin: 0 auto;
    margin-top: 5px;
    font-size: 24px;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(117, 35, 35);
    margin-bottom: 5px;
}