

body {
    margin: 0 auto !important;
    min-height: 100vh;
    display: grid !important;
    grid-template-columns: 100%;
    grid-template-rows: 100px 
                        1fr
                        60px;
    grid-template-areas:"my-header my-header my-header"
                        "my-section my-section my-section"
                        "my-footer my-footer my-footer";
}

header {
    grid-area: my-header;
}

section {
    grid-area: my-section;
}